<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HistoryItemsCount" value="10"/>
    <add key="CountDelayLimit" value="5"/>
    <add key="LastEventFileName" value="Ultimos.data"/>
    <add key="HistoryEvents" value="History.data"/>
    <add key="DelayValues" value="5,10,15,20,25,Cancelar"/>
    <add key="EventStates" value="Ok, Delayed, Canceled"/>
    <add key="PauseDuration" value="5,10,15"/>
    <add key="PauseRepetition" value="45,60,90"/>
    <add key="LimitHoursToWork" value="12"/>
    <add key="FirstPauseInMinutes" value="45"/>
  </appSettings>
</configuration>